/Manifest*.toml
.vscode/settings.json
docs/Manifest.toml
docs/build
cspell.json
coverage/lcov.info
coverage/
video/
out/

# Ignore Julia coverage instrumentation output files
*.cov
*.mem
data/default.yaml
.zenodo_minimal.json
docs/src/step_response.pdf
data/step_response.jld2
data/mpc_result.jld2
data/mpc_result_group_control.jld2
data/bak/mpc_result_group_control.jld2
data/bak/mpc_result.jld2
data/bak/step_response.jld2
data/mpc_error.jld2
data/mpc_error.jld2.bak
data/mpc_result_group_control_8TGs.jld2
data/mpc_result_group_control_4TGs.jld2
data/mpc_result_group_control_12TGs.jld2
data/mpc_result_group_control_2TGs.jld2
data/mpc_result_group_control_3TGs.jld2
docs/src/map_inductions.pdf
data/mpc_result_group_control_6TGs.jld2
docs/src/optimize_inductions.pdf
data/mpc_result_group_control_5TGs.jld2
data/mpc_result_group_control_7TGs.jld2
docs/Manifest-v1.12.toml
data/mpc_result_group_control_108_6TGs.jld2
data/mpc_result_group_control_162_9TGs.jld2
.idea
docs/src/optimize_inductions.tex
